[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pytest = "*"
case-converter = "*"

[dev-packages]
pytest = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
