-i https://pypi.org/simple/
attrs==21.2.0
case-converter==1.0.2
certifi==2021.5.30
chardet==4.0.0
idna==2.10
iniconfig==1.1.1
packaging==20.9
pluggy==1.0.0.dev0
py==1.10.0
pyparsing==3.0.0b2
pytest==6.2.3
requests==2.25.1
toml==0.10.2
urllib3==1.26.5
